h2 {
    height: 70px;
}

hr {
    margin: 10px 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    text-align: center;

    & h2 {
        overflow: hidden;
        font-weight: 400;
    }

    & img {
        height: 150px;
        object-fit: contain;
    }
}

.quantity {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carrito {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 30px;
    background-color: #f3823a;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    & img {
        width: 20px;
    }

    &:hover {
        box-shadow: 0 0 5px #aaa;
    }
    
}