.container {
    display: flex;
}
// ESTILO PARA LA SECCION IZQUIERDA (PRODUCTOS EN EL CARRITO)
.section-left, .section-right {
    background-color: #fff;
    margin: 50px;
    border-radius: 5px;
}

.section-left {
    flex-basis: 70%;
}

.empty-cart {
    min-height: 150px;
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.empty-cart .empty {
    display: flex;
    align-items: center;
    font-size: 20px;
    column-gap: 10px;
}

.empty-cart a {
    text-decoration: none;
    color: #295f7a;
}


// ESTILO PARA CADA PRODUCTO DENTRO DEL CARRITO

.product {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    column-gap: 20px;

    & div {
        width: 350px;
        
        & h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 400;
        }

        & .delete {
            border: none;
            background: transparent;
            color: #295f7a;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }

    & h2 {
        font-weight: 300;
    }
}


// ESTILO PARA LA SECCION DERECHA (RESUMEN COMPRA)
.section-right {
    padding: 20px 0;
    flex-basis: 30%;
    min-height: 150px;
    height: fit-content;

    & hr {
        margin-top: 10px;
        border: 1px solid #ccc;
    }
}

.section-right h3 {
    padding: 0 20px;
    font-weight: 400;
}

.section-right .resume, .section-right .total {
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;
}

.section-right .total {
    align-items: center;
    margin-top: 50px;
}