<main>
    <section class="products">
        <div class="swiper-wrapper">
            <h1>Productos de Tecnologia</h1>
            <swiper-container navigation pagination slides-per-view="4" space-between="20">
                @for(product of products; track product.title) {
                    @if(product.category == 'technology') {
                        <swiper-slide>
                            <div class='details' [routerLink]="['/products', product.title]">
                                <img src="{{product.image}}" alt="{{product.title}}">
                                <h2>{{product.title}}</h2>
                                <p>{{product.description}}</p>
                                <h3>{{product.price | currency }}</h3>
                            </div>
                            <hr>
                            <div class="quantity">
                                <app-input-number [max]="9" [(quantity)]='product.quantity'></app-input-number>
                                <button class='carrito'><img src="img/carrito.png" alt="carrito"></button>
                            </div>
                        </swiper-slide>
                    }
                }
            </swiper-container>
        </div>
    </section>

    <section class="products">
        <div class="swiper-wrapper">
            <h1>Electrodomesticos</h1>
            <swiper-container navigation pagination slides-per-view="4" space-between="20">
                @for(product of products; track product.title) {
                    @if(product.category == 'appliances') {
                        <swiper-slide>
                            <div class="details" [routerLink]="['/products', product.title]">
                                <img src="{{product.image}}" alt="{{product.title}}">
                                <h2>{{product.title}}</h2>
                                <p>{{product.description}}</p>
                                <h3>{{product.price | currency }}</h3>
                            </div>
                            <hr>
                            <div class="quantity">
                                <app-input-number [max]="9" [(quantity)]="product.quantity"></app-input-number>
                                <button class='carrito'><img src="img/carrito.png" alt="carrito"></button>
                            </div>
                        </swiper-slide>
                    }
                }
            </swiper-container>
        </div>
    </section>
</main>