swiper-container {
    margin-top: 10px;
    width: 100%;
    height: 400px;
}

swiper-slide {
    height: 350px;
    display: grid;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 5px #aaa;
    }

    &:active {
        opacity: .8;
    }
}