.container-product {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}


.container-images {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

#imgActual {
    height: 400px;
    object-fit: contain;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    & img {
        width: 150px;
        height: 200px;
        object-fit: contain;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
            border: 1px solid lightskyblue;
        }
    }
}

.details {
    border-left: 1px solid #ccc;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 5px;
    text-align: center;

    & h3 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.quantity {
    display: flex;
    align-items: center;
    column-gap: 30px;

    & p {
        font-size: 18px;
        color: #333;
    }
}








.active {
    border: 2px solid lightseagreen;
    border-radius: 8px;
    box-shadow: 0 0 1px lightseagreen;
}